@font-face {
  font-family: "Allura";
  src: url(../fonts/Allura-Regular.ttf);
}
@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Light.ttf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
  color: #eee;
}

body {
  text-align: center;
  font-family: Roboto, serif;
  background: #21201e;
}

header {
  background: url(../images/bg-slider-06.jpg) center/cover;
}
header .navbar {
  display: grid;
  align-items: center;
  grid-template-columns: 10% 82% 8%;
  height: 12vh;
  max-width: 1100px;
  margin: 0 auto;
}
header .navbar .logo {
  color: #eee;
  font-family: Allura, cursive;
  font-size: 2rem;
  font-weight: 100;
  text-align: left;
}
header .navbar .navbar_Left {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-transform: uppercase;
  font-size: 0.7rem;
  padding: 0 30px;
}
header .navbar .navbar_Left li {
  cursor: pointer;
}
header .navbar .navbar_Right {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 0.7rem;
}
header .navbar .navbar_Right i {
  transition: 0.2s;
}
header .navbar .navbar_Right i:hover {
  transform: scale(1.3);
}
header .header_Texte {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 88vh;
  color: #eee;
}
header .header_Texte div {
  margin-top: -150px;
}
header .header_Texte h2 {
  color: rgb(166, 114, 69);
  font-family: Allura, cursive;
  font-weight: 100;
  font-size: 3rem;
}
header .header_Texte h1 {
  font-size: 3.2rem;
  letter-spacing: 10px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: -28px;
  font-family: Poppins, serif;
}
header .header_Texte img {
  height: 27px;
  margin: 32px 0;
}

.section_Overview {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: #eee;
}
.section_Overview .part_Left {
  margin: 15px;
  border: 1px dashed rgb(166, 114, 69);
  padding: 30px 15px;
}
.section_Overview .part_Left h2 {
  color: rgb(166, 114, 69);
  font-family: Allura, cursive;
  font-weight: 500;
  font-size: 2rem;
}
.section_Overview .part_Left h3 {
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: -12px;
  font-family: Poppins, serif;
}
.section_Overview .part_Left img {
  margin: 26px;
}
.section_Overview .part_Left img:nth-of-type(2) {
  height: 70px;
  border-radius: 150px;
  margin-bottom: 8px;
}
.section_Overview .part_Left h4 {
  font-weight: 700;
  font-size: 1rem;
}
.section_Overview .part_Left h5 {
  text-transform: uppercase;
  font-size: 0.7rem;
  color: rgb(182, 182, 182);
}
.section_Overview .part_Right {
  background: url(../images/store-01.jpg) center/cover;
}

.section_Menu {
  padding-bottom: 100px;
  position: relative;
}
.section_Menu::after {
  content: "";
  position: absolute;
  height: 620px;
  width: 100%;
  background: url(../images/bg-menu-01.jpg) center/cover;
  left: 50%;
  bottom: -330px;
  transform: translate(-50%, -50%);
}
.section_Menu h2 {
  color: rgb(166, 114, 69);
  font-family: Allura, cursive;
  font-weight: 500;
  font-size: 2rem;
  margin: 30px 0;
}
.section_Menu ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 30px auto;
  color: #eee;
  width: 50%;
  min-width: 500px;
}
.section_Menu ul li {
  padding-bottom: 8px;
  border-bottom: 1px solid rgb(182, 182, 182);
}
.section_Menu .card_Menu {
  width: 85%;
  max-width: 800px;
  margin: 0 auto;
  background: #eee;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 15px 0;
  border-top: 4px solid rgb(166, 114, 69);
  z-index: 100;
  position: relative;
}
.section_Menu .card_Menu .card_Left,
.section_Menu .card_Menu .card_Right {
  margin: 0 20px;
}
.section_Menu .card_Menu .card {
  display: grid;
  grid-template-columns: 25% 60% 15%;
  align-items: center;
  margin: 0 20px;
  border-bottom: 1px dashed rgb(182, 182, 182);
  padding: 30px 0;
}
.section_Menu .card_Menu .card img {
  border-radius: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  align-self: center;
}
.section_Menu .card_Menu .card .card_text {
  text-align: left;
  margin: 0 10px;
}
.section_Menu .card_Menu .card .card_text h4 {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 900;
  margin-bottom: 5px;
}
.section_Menu .card_Menu .card .card_text p {
  color: #21201e;
}
.section_Menu .card_Menu .card > p {
  color: rgb(166, 114, 69);
  font-weight: 700;
  font-size: 1.1rem;
}

.section_Reserved {
  width: 90%;
  max-width: 1000px;
  margin: 80px auto;
  display: grid;
  grid-template-columns: 30% 70%;
}
.section_Reserved h3 {
  color: rgb(166, 114, 69);
  font-family: Allura, cursive;
  font-weight: 100;
  font-size: 2.5rem;
}
.section_Reserved h4 {
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: -12px;
  font-family: Poppins, serif;
}
.section_Reserved .reserved_Left {
  background: #000;
  color: #eee;
}
.section_Reserved .reserved_Left > div {
  border: 1px dashed rgb(166, 114, 69);
  margin: 20px;
  padding: 20px 10px;
}
.section_Reserved .reserved_Left > div img {
  margin: 30px 0 10px 0;
}
.section_Reserved .reserved_Left > div .reserved_Date {
  margin: 20px 0;
}
.section_Reserved .reserved_Left > div .reserved_Date h6 {
  font-weight: 500;
  font-size: 1.1rem;
  color: rgb(166, 114, 69);
  text-transform: uppercase;
}
.section_Reserved .reserved_Left > div .reserved_Date p {
  margin: 15px 0;
  font-size: 0.85rem;
  font-weight: 100;
}
.section_Reserved .reserved_Right {
  background: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px 0;
}
.section_Reserved .reserved_Right h4 {
  color: #21201e;
  font-size: 1.5rem;
}
.section_Reserved .reserved_Right img {
  margin: 30px 0;
}
.section_Reserved .reserved_Right form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}
.section_Reserved .reserved_Right form input,
.section_Reserved .reserved_Right form select {
  background: none;
  border: none;
  border-bottom: 1px solid rgb(182, 182, 182);
  font-weight: 600;
  font-size: 0.8rem;
  margin: 10px;
  height: 40px;
  outline: none;
  padding: 10px;
}
.section_Reserved .reserved_Right form button {
  background: #21201e;
  color: #eee;
  border-radius: 50px;
  border: none;
  text-transform: uppercase;
  letter-spacing: 4px;
  padding: 16px 34px;
  margin-top: 20px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.2s;
}
.section_Reserved .reserved_Right form button:hover {
  transform: translateX(3px);
}/*# sourceMappingURL=index.css.map */