@font-face {
  font-family: "Allura";
  src: url(../fonts/Allura-Regular.ttf);
}
@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Light.ttf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
  color: #eee;
}

body {
  text-align: center;
  font-family: Roboto, serif;
  background: #21201e;
}

header {
  background: url(../images/bg-slider-06.jpg) center/cover;
}
header .navbar {
  display: grid;
  align-items: center;
  grid-template-columns: 10% 82% 8%;
  height: 12vh;
  max-width: 1100px;
  margin: 0 auto;
}
@media screen and (max-width: 680px) {
  header .navbar {
    grid-template-columns: 1fr 1fr;
  }
}
header .navbar .logo {
  color: #eee;
  font-family: Allura, cursive;
  font-size: 2rem;
  font-weight: 100;
  text-align: left;
}
@media screen and (max-width: 680px) {
  header .navbar .logo {
    text-align: center;
  }
}
header .navbar .navbar_Left {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-transform: uppercase;
  font-size: 0.7rem;
  padding: 0 30px;
}
@media screen and (max-width: 680px) {
  header .navbar .navbar_Left {
    display: none;
  }
}
header .navbar .navbar_Left li {
  cursor: pointer;
}
header .navbar .navbar_Right {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 0.7rem;
}
@media screen and (max-width: 680px) {
  header .navbar .navbar_Right {
    width: 50%;
    margin: 0 auto;
  }
}
header .navbar .navbar_Right i {
  transition: 0.2s;
}
header .navbar .navbar_Right i:hover {
  transform: scale(1.3);
}
header .header_Texte {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 88vh;
  color: #eee;
}
header .header_Texte div {
  margin-top: -150px;
}
header .header_Texte h2 {
  color: rgb(166, 114, 69);
  font-family: Allura, cursive;
  font-weight: 100;
  font-size: 3rem;
}
header .header_Texte h1 {
  font-size: 3.2rem;
  letter-spacing: 10px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: -28px;
  font-family: Poppins, serif;
}
header .header_Texte img {
  height: 27px;
  margin: 32px 0;
}

.section_Overview {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: #eee;
}
@media screen and (max-width: 680px) {
  .section_Overview {
    grid-template-columns: 1fr;
  }
}
.section_Overview .part_Left {
  margin: 15px;
  border: 1px dashed rgb(166, 114, 69);
  padding: 30px 15px;
}
.section_Overview .part_Left h2 {
  color: rgb(166, 114, 69);
  font-family: Allura, cursive;
  font-weight: 500;
  font-size: 2rem;
}
.section_Overview .part_Left h3 {
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: -12px;
  font-family: Poppins, serif;
}
.section_Overview .part_Left img {
  margin: 26px;
}
.section_Overview .part_Left img:nth-of-type(2) {
  height: 70px;
  border-radius: 150px;
  margin-bottom: 8px;
}
.section_Overview .part_Left h4 {
  font-weight: 700;
  font-size: 1rem;
}
.section_Overview .part_Left h5 {
  text-transform: uppercase;
  font-size: 0.7rem;
  color: rgb(182, 182, 182);
}
.section_Overview .part_Right {
  background: url(../images/store-01.jpg) center/cover;
}

.section_Menu {
  padding-bottom: 100px;
  position: relative;
}
.section_Menu::after {
  content: "";
  position: absolute;
  height: 620px;
  width: 100%;
  background: url(../images/bg-menu-01.jpg) center/cover;
  left: 50%;
  bottom: -330px;
  transform: translate(-50%, -50%);
}
.section_Menu h2 {
  color: rgb(166, 114, 69);
  font-family: Allura, cursive;
  font-weight: 500;
  font-size: 2rem;
  margin: 30px 0;
}
.section_Menu ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 30px auto;
  color: #eee;
  width: 50%;
  min-width: 500px;
}
.section_Menu ul li {
  padding-bottom: 8px;
  border-bottom: 1px solid rgb(182, 182, 182);
}
.section_Menu .card_Menu {
  width: 85%;
  max-width: 800px;
  margin: 0 auto;
  background: #eee;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 15px 0;
  border-top: 4px solid rgb(166, 114, 69);
  z-index: 100;
  position: relative;
}
@media screen and (max-width: 680px) {
  .section_Menu .card_Menu {
    grid-template-columns: 1fr;
  }
}
.section_Menu .card_Menu .card_Left,
.section_Menu .card_Menu .card_Right {
  margin: 0 20px;
}
.section_Menu .card_Menu .card {
  display: grid;
  grid-template-columns: 25% 60% 15%;
  align-items: center;
  margin: 0 20px;
  border-bottom: 1px dashed rgb(182, 182, 182);
  padding: 30px 0;
}
.section_Menu .card_Menu .card img {
  border-radius: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  align-self: center;
}
.section_Menu .card_Menu .card .card_text {
  text-align: left;
  margin: 0 10px;
}
.section_Menu .card_Menu .card .card_text h4 {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 900;
  margin-bottom: 5px;
}
.section_Menu .card_Menu .card .card_text p {
  color: #21201e;
}
.section_Menu .card_Menu .card > p {
  color: rgb(166, 114, 69);
  font-weight: 700;
  font-size: 1.1rem;
}

.section_Reserved {
  width: 90%;
  max-width: 1000px;
  margin: 80px auto;
  display: grid;
  grid-template-columns: 30% 70%;
}
@media screen and (max-width: 1030px) {
  .section_Reserved {
    grid-template-columns: 1fr;
  }
}
.section_Reserved h3 {
  color: rgb(166, 114, 69);
  font-family: Allura, cursive;
  font-weight: 100;
  font-size: 2.5rem;
}
.section_Reserved h4 {
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: -12px;
  font-family: Poppins, serif;
}
.section_Reserved .reserved_Left {
  background: #000;
  color: #eee;
}
.section_Reserved .reserved_Left > div {
  border: 1px dashed rgb(166, 114, 69);
  margin: 20px;
  padding: 20px 10px;
}
.section_Reserved .reserved_Left > div img {
  margin: 30px 0 10px 0;
}
.section_Reserved .reserved_Left > div .reserved_Date {
  margin: 20px 0;
}
.section_Reserved .reserved_Left > div .reserved_Date h6 {
  font-weight: 500;
  font-size: 1.1rem;
  color: rgb(166, 114, 69);
  text-transform: uppercase;
}
.section_Reserved .reserved_Left > div .reserved_Date p {
  margin: 15px 0;
  font-size: 0.85rem;
  font-weight: 100;
}
.section_Reserved .reserved_Right {
  background: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px 0;
}
.section_Reserved .reserved_Right h4 {
  color: #21201e;
  font-size: 1.5rem;
}
.section_Reserved .reserved_Right img {
  margin: 30px 0;
}
.section_Reserved .reserved_Right form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}
@media screen and (max-width: 700px) {
  .section_Reserved .reserved_Right form {
    grid-template-columns: 1fr;
    width: 50%;
  }
}
.section_Reserved .reserved_Right form input,
.section_Reserved .reserved_Right form select {
  background: none;
  border: none;
  border-bottom: 1px solid rgb(182, 182, 182);
  font-weight: 600;
  font-size: 0.8rem;
  margin: 10px;
  height: 40px;
  outline: none;
  padding: 10px;
}
@media screen and (max-width: 700px) {
  .section_Reserved .reserved_Right form input,
  .section_Reserved .reserved_Right form select {
    margin: 20px 0;
    padding: 0;
    width: 100%;
  }
}
.section_Reserved .reserved_Right form button {
  background: #21201e;
  color: #eee;
  border-radius: 50px;
  border: none;
  text-transform: uppercase;
  letter-spacing: 4px;
  padding: 16px 34px;
  margin-top: 20px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.2s;
}
.section_Reserved .reserved_Right form button:hover {
  transform: translateX(3px);
}

.section_Events {
  max-width: 1050px;
  margin: 30px auto;
}
@media screen and (max-width: 1100px) {
  .section_Events {
    display: none;
  }
}
.section_Events h3 {
  color: rgb(166, 114, 69);
  font-family: Allura, cursive;
  font-weight: 100;
  font-size: 2rem;
}
.section_Events h4 {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: -12px;
  font-family: Poppins, serif;
  color: #eee;
}
.section_Events > img {
  height: 25px;
  margin: 30px 0;
}
.section_Events .events {
  display: grid;
  grid-template-columns: 58% 42%;
  grid-template-areas: "a b" "c b";
  gap: 10px;
}
.section_Events .events .grid1 {
  grid-area: c;
}
.section_Events .events .grid1 {
  grid-area: a;
}
.section_Events .events .event_Card {
  display: grid;
  grid-template-columns: 39% 61%;
}
.section_Events .events .event_Card .img_event1 {
  background: url(../images/event-01.jpg) center/cover;
}
.section_Events .events .event_Card .img_event2 {
  background: url(../images/event-02.jpg) center/cover;
}
.section_Events .events .event_Card .img_event1,
.section_Events .events .event_Card .img_event2 {
  position: relative;
}
.section_Events .events .event_Card .img_event1 p,
.section_Events .events .event_Card .img_event2 p {
  position: absolute;
  background: #21201e;
  color: #eee;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 15px;
}
.section_Events .events .event_Card .event_text {
  background: #eee;
  display: grid;
  place-content: center;
  text-align: left;
  padding: 10px;
  align-items: center;
}
.section_Events .events .event_Card .event_text h5 {
  font-weight: 700;
  font-size: 1rem;
  padding-left: 8px;
}
.section_Events .events .event_Card .event_text p {
  color: rgb(182, 182, 182);
  letter-spacing: 1px;
  margin: 30px 0;
}
.section_Events .events .event_Card .event_text a {
  color: black;
  text-transform: uppercase;
  padding-bottom: 40px;
  font-weight: 600;
}
.section_Events .events .img_event3 {
  grid-area: b;
  background: url(../images/event-03.jpg) center/cover;
  width: 100;
  height: 400px;
  position: relative;
}
.section_Events .events .img_event3 .event_text {
  position: absolute;
  background: #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
  width: 80%;
  height: 80%;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.section_Events .events .img_event3 .event_text p:first-of-type {
  background: #21201e;
  padding: 10px 15px;
  margin: 0;
  color: #eee;
}
.section_Events .events .img_event3 .event_text h5 {
  font-weight: 700;
  font-size: 1rem;
}
.section_Events .events .img_event3 .event_text p {
  color: rgb(182, 182, 182);
  letter-spacing: 1px;
  margin: 30px 0;
}
.section_Events .events .img_event3 .event_text a {
  color: black;
  text-transform: uppercase;
  padding-bottom: 40px;
  font-weight: 600;
}

.section_footer {
  position: relative;
  margin-top: 150px;
}
.section_footer::after {
  content: "";
  position: absolute;
  background: url(../images/gmap.jpg) center/cover;
  height: 300px;
  width: 100%;
  left: 0;
  bottom: -200px;
}
.section_footer .card_footer {
  background: #eee;
  padding: 50px;
  position: relative;
  z-index: 100;
  max-width: 1063px;
  margin: 0 auto;
}
@media screen and (max-width: 680px) {
  .section_footer .card_footer {
    width: 90%;
  }
}
.section_footer .card_footer p {
  font-size: 1rem;
  color: grey;
  line-height: 30px;
}
.section_footer .card_footer p img {
  border-radius: 150px;
  height: 60px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}
.section_footer .card_footer p i {
  color: black;
  vertical-align: 10px;
  font-size: 0.9rem;
}
.section_footer .card_footer h5 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 40px 0 20px 0;
}
.section_footer .card_footer h6 {
  color: rgb(166, 114, 69);
  font-size: 1rem;
  font-weight: 500;
}

footer {
  margin-top: 200px;
  background: url(../images/bg-footer.jpg) center/cover;
  height: 300px;
  width: 100%;
  color: #eee;
}
@media screen and (max-width: 680px) {
  footer {
    background: none;
    height: 200px;
  }
}
footer .footer_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1050px;
  margin: 0 auto;
}
@media screen and (max-width: 680px) {
  footer .footer_container {
    grid-template-columns: 1fr;
  }
}
footer .footer_container .footer_Left {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  padding-top: 50px;
}
@media screen and (max-width: 680px) {
  footer .footer_container .footer_Left {
    display: none;
  }
}
footer .footer_container .footer_Left h4 {
  color: rgb(166, 114, 69);
  font-family: Allura, cursive;
  font-size: 2rem;
  font-weight: 100;
}
footer .footer_container .footer_Left p {
  line-height: 30px;
  font-size: 1rem;
}
footer .footer_container .footer_Right {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-around;
  text-align: left;
  text-transform: uppercase;
}
@media screen and (max-width: 680px) {
  footer .footer_container .footer_Right {
    justify-content: center;
  }
}
footer .footer_container .footer_Right .newletter {
  margin: 50px 0 0 30px;
  place-content: center;
}
footer .footer_container .footer_Right .newletter input {
  margin-top: 20px;
  background: none;
  height: 30px;
  border: 1px solid rgb(66, 66, 66);
  padding: 5px;
  width: 250px;
}
@media screen and (max-width: 680px) {
  footer .footer_container .footer_Right .newletter input {
    margin-bottom: 20px;
  }
}
footer .footer_container .footer_Right .follow {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
}
footer .footer_container .footer_Right .follow ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
footer .footer_container .footer_Right .follow ul li {
  padding: 0 20px;
}
footer .footer_container .footer_Right .follow ul li a {
  color: rgb(182, 182, 182);
  transition: 0.3s;
}
footer .footer_container .footer_Right .follow ul li a:hover {
  color: #eee;
  transform: scale(1.5);
}
footer .footer_container .footer_Right .follow ul li a i {
  transition: 0.3s;
}/*# sourceMappingURL=index.css.map */